<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/rohitkumar/IdeaProjects/MavenProject">
        <classes>
            <class name="qaclickacademy.AppiumTest">
                <methods>
                    <include name="nativeAppAndroid"/>
                    <include name="iosApps"/>
                </methods>
            </class>
            <class name="qaclickacademy.RestAPITest">
                <methods>
                    <include name="postJira"/>
                    <include name="deleteTwitter"/>
                </methods>
            </class>
            <class name="qaclickacademy.SeleniumTest">
                <methods>
                    <include name="BrowserAutomation"/>
                    <include name="elementUI"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>